* {
    font-family: 'Courier New';
}

h1,h3 {
    color: #f52936;
}

#login {
    background-color: white;
}

#signup {
    background-color: #f52936;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}

/* decendent selector */

p a {
    color: purple;
    background-color: yellow;
}

nav a{
    color: hotpink;
}

p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: cornflowerblue;
    color: darkblue;
}

div > input {
    background-color: darkgray;
    color: darksalmon;
}

input[type="text"] {
    color: red;
}

input[type="password"] {
    color: green;
}

/* practice Q */
#myid p{
    color: green;
}

button:hover {
    background-color: black;
    color: white;
}

h3:hover {
    text-decoration: none;
}

button:active {
    background-color: hotpink;
    color: black;
}

p:active {
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label {
    color: red;
    font-weight: bold;
}

.post:nth-of-type(2) {
    background-color: blanchedalmond;
}

h1::first-letter {
    color: green;
}

p::first-line {
    color: blue;
}

p::selection {
    background-color: rgb(236, 250, 83);
}